@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .player-progress {
    @apply h-1 w-full appearance-none;
  }

  .player-progress[value]::-webkit-progress-bar {
    @apply bg-neutral-800 shadow-inner;
  }

  .player-progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0.25),
        rgba(0, 0, 0, 0.25)
      ),
      -webkit-linear-gradient(left, #448f3d, #448f3d);
    background-size: 35px 20px, 100% 100%, 100% 100%;
    @apply duration-1000 ease-out;
  }

  .player-progress[value]::-moz-progress-bar {
    background-image: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 0.25),
        rgba(0, 0, 0, 0.25)
      ),
      -moz-linear-gradient(left, #448f3d, #448f3d);
    @apply rounded-sm duration-1000 ease-in-out;
    background-size: 35px 20px, 100% 100%, 100% 100%;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .animate-like {
    animation: like 200ms ease-out;
  }

  @keyframes like {
    0% {
      transform: scale(0.1);
    }
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}
